@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/*지정*/
html, body {
    
    color: #3d3d3d;
    line-height: 1.5;
    font-family: 'Noto Sans KR','NanumGothic','Malgun Gothic','Apple SD Gothic','Apple SD Gothic Neo','Dotum', sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all;
}
#wrap {/*id=wrap*/
    overflow: hidden;
    min-width: 1440px; 
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.cnt_wrap {
    position: relative;
}

@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
    #wrap {
        min-width: auto;
    }
    .wrapper {
        width: auto;
    }
}



.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;} 


.header {
    height: 246px;
}
.header .top {
    height: 50px;
    background-color: #C61065;
    color: #FFF;
}
.header .top .slogan {
    float: left;
    font-size: 12px;
    color: rgba(255,255,255,0.8);
    line-height: 50px;
}
.header .top .sns {
    float: right;
    color: rgba(255,255,255,0.8);
    line-height: 50px;
}
.header .top .sns ul li {
    float: left;
    margin-top: 8px;
}
.header .top .sns ul li a {
    display: block;
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 21px auto;
    font-size: 0;
    line-height: 0;
}
.header .top  .sns ul li.facebook a {
    background-image: url(../images/facebook.png);
}
.header .top  .sns ul li.twitter a {
    background-image: url(../images/twitter.png);
}
.header .top  .sns ul li.insta a {
    background-image: url(../images/insta.png);
}
.header .top  .sns ul li.youtube a {
    background-image: url(../images/youtube.png);
}

.header .middle {
    position: relative;
    height: 120px;
}
.header .middle::after {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: 1px;
    border-bottom: 1px  solid #f4f4f4;
    content: "";
}
.header .middle .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 120px;
}
.header .middle .search {
    width: 240px;
    height: 40px;
    border: 1px solid #ccc;
}
.header .middle .search label {
    display: none; 
}
.header .middle .search input[type="text"] {
    float: left;
    width: 129px;
    height: 23px;
    margin: 7px 55px 0 16px;
    border: 0;
    outline: 0; 
    background-color: #FFF;
    font-size: 16px;
}
.header .middle .search input[type="text"]::placeholder {
    color: rgba(102,102,102,0.8);
}
.header .middle .search .btn {
    float: left;
    margin: 8px 0 0 0;
    width: 24px;
    height: 24px;
}
.header .middle .search input.btn {
    border: 0; 
    background-color: #fff;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    color: rgba(102,102,102,0.8);
    font-size: 0;
    cursor: pointer;
}
.header .middle .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header .middle  .logo a {
    display: block;
    width: 233px;
    height: 54px;
    background: url(../images/logo.svg) no-repeat left top / 100% auto;
    font-size: 0;
    line-height: 0;
}
.header .middle .side ul li {
    float: left;
}
.header .middle .side ul li a {
    display: block;
    margin: 0 15px;
    color: #3d3d3d;
    font-size: 16px;
}
.header .middle .side ul li a:hover {
    color: #C61065;
}
.header .botton {
    height: 76px;
}
.header .botton .logo_m {
    display: none;
}
.header .botton .gnb button {
    display: none;
}
.header .botton .gnb ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .botton .gnb ul li a {
    display: block;
    padding: 0 21px 0 21px;
    font-size: 20px;
    line-height: 76px;
}
.header .botton .gnb ul li a:hover {
    color: #C61065;
}

@media screen and (max-width:640px){
    .header {
        height: 60px;
    }
    .header .top {
        height: 15px;
        background-color: #C61065;
    }
    .header .top .slogan {
        display: none;
    }
    .header .top .sns {
        display: none;
    }
    .header .middle {
        display: none;
    }
    .header .botton {
        height: 45px;
    }
    .header .botton .logo_m {
        display: block;
        float: left;
        margin: 17px 0 0 0;
    }
    .header .botton .logo_m a {
        display: block;
        width: 95px;
        height: 13px;
        background: url(../images/logo_m.svg) no-repeat center center / 100%;
        font-size: 0;
        line-height: 0;
    }
    .header .botton .gnb {
        display: block;
        float: right;
    }
    .header .botton .gnb button {
        display: block;
        margin: 9px 0 0 0;
    }
    .header .botton .gnb button span {
        display: none;
    }
    .header .botton .gnb button i {
        font-size: 27px;
        font-weight: 400;
        color: #3d3d3d;
    }
    .header .botton .gnb ul li {
        display: none;  
    }
}

.footer {
    position: relative;
    background-color: #C61065;
}
.footer .ftop {
    height: 60px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.footer .ftop .fnav li {
    position: relative;
    float: left;
    margin-right: 36px;
    color: rgba(255,255,255,0.7);
}
.footer .ftop .fnav li:hover {
    color: #FFF;
}
.footer .ftop .fnav li::after {
    position: absolute;
    right: -18px;
    top: 29px;
    width: 1px;
    height: 10px;
    background-color: rgba(255,255,255,0.7);
    content: "";
}
.footer .ftop .fnav li:last-child:after {
    display: none;
}
.footer .ftop .fnav li.privacy a {
    font-weight: 700;
}
.footer .ftop .fnav li a {
    display: block;
    line-height: 60px;
}
.footer .fsub .flogo {
    float: left;
    margin-top: 40px;
}
.footer .fsub .flogo img {
    width: 147px;
}
.footer .fsub .inner {
    padding: 33px 0 80px 175px;
}
.footer .fsub .finfo span {
    display: inline-block;
    margin-right: 32px;
    line-height: 30px;
    color: rgba(255,255,255,0.7);
}
.footer .fsub .copyright {
    margin-top: 10px;
    color: rgba(255,255,255,0.7);
}
@media screen and (max-width:640px){
    .footer {
        padding: 0;
    }
    .footer .ftop {
        height: auto;
        padding: 83px 0 20px 0;
        border-bottom: 0;
    }
    .footer .ftop .fnav li {
        margin-right: 17px;
    }
    .footer .ftop .fnav li::after {
        right: -11px;
        top: 10px;
        height: 8px;
    }
    .footer .ftop .fnav li a {
        line-height: 28px;
    }
    .footer .fsub .flogo {
        float: none;
        margin-top: 40px;
        position: absolute;
        left: 20px;
        top: 0;
        width: 105px;
    }
    .footer .fsub .flogo img {
        margin: 0;
        width: 105px;
    }
    .footer .fsub .inner {
        padding: 0 0 49px 0;
    }
    .footer .fsub .finfo span {
        display: block;
        line-height: 25px;
        color: rgba(255,255,255,0.7);
    }
    .footer .fsub .copyright {
        margin-top: 15px;
        color: rgba(255,255,255,0.7);
    }
}